body{
  background: url(./catalog.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-light {
  background-color:black !important;
}

.navbar-light .navbar-brand {
  color: rgb(102, 255, 235);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
color: rgb(102, 255, 235);
}
  
#navbarDropdown{
  color:  rgb(102, 255, 235);
}

.center{
  color:  rgb(102, 255, 235);
}
